<form action="" style="margin-left: 30px;padding: 0.3vw 3vw;">
  <input type="search">
  <input type="button" value="submit" class="button">
</form>
<br>
<div class="list-container">
  <% subscribers.forEach(s => { %>
  <div class="subscriber">
    <p>
      <span class="item-label">Name:</span>
      <%= s.name %>
    </p>
    <p>
      <span class="item-label">Email:</span>
      <%= s.email %>
    </p>
  </div>
  <% }); %>
</div>
